@media (prefers-color-scheme: dark) {
  :root {
    --colors-surface-variant: rgb(23 24 28 / 100%);
    --colors-surface-dim: rgb(52 55 61 / 100%);
    --colors-surface: rgb(39 41 46 / 100%);
    --colors-surface-bright: rgb(48 51 57 / 100%);
    --colors-container-1: rgb(55 58 66 / 100%);
    --colors-container-2: rgb(68 72 80 / 100%);
    --colors-container-3: rgb(79 82 92 / 100%);
    --colors-container-4: rgb(89 93 104 / 100%);
    --colors-container-5: rgb(98 102 112 / 100%);
    --colors-on-surface: rgb(248 248 249 / 100%);
    --colors-on-surface-var: rgb(39 45 63 / 100%);
    --colors-outline: rgb(86 98 131 / 100%);
    --colors-outline-variant: rgb(184 190 204 / 100%);
    --colors-inverse-surface: rgb(241 242 242 / 100%);
    --colors-inverse-on-surface: rgb(21 22 25 / 100%);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --colors-surface-variant: rgb(241 242 243 / 100%);
    --colors-surface-dim: rgb(248 248 249 / 100%);
    --colors-surface: rgb(252 252 252 / 100%);
    --colors-surface-bright: rgb(255 255 255 / 100%);
    --colors-container-1: rgb(235 235 236 / 100%);
    --colors-container-2: rgb(228 228 230 / 100%);
    --colors-container-3: rgb(221 222 223 / 100%);
    --colors-container-4: rgb(215 215 217 / 100%);
    --colors-container-5: rgb(208 209 211 / 100%);
    --colors-on-surface: rgb(50 51 54 / 100%);
    --colors-on-surface-var: rgb(184 190 204 / 100%);
    --colors-outline: rgb(117 128 155 / 100%);
    --colors-outline-variant: rgb(39 45 63 / 100%);
    --colors-inverse-surface: rgb(45 46 49 / 100%);
    --colors-inverse-on-surface: rgb(235 235 236 / 100%);
  }
}
:root {
  --type-scale-desktop-dfs-3: 10px;
  --type-scale-desktop-dfs-2: 12px;
  --type-scale-desktop-dfs-1: 14px;
  --type-scale-desktop-dfs-0: 16px;
  --type-scale-desktop-dfs1: 18px;
  --type-scale-desktop-dfs2: 20px;
  --type-scale-desktop-dfs3: 22px;
  --type-scale-desktop-dfs4: 25px;
  --type-scale-desktop-dfs5: 28px;
  --type-scale-desktop-dfs6: 36px;
  --type-scale-desktop-dfs7: 45px;
  --type-scale-desktop-dfs8: 58px;
  --type-scale-desktop-dfs9: 73px;
  --type-scale-desktop-dfs10: 82px;
  --type-scale-desktop-dfs11: 92px;
  --type-scale-desktop-dfs12: 104px;
}

html {
  overflow: auto;
  font-weight: 300;
}

.flex {
  display: flex;
  margin-inline: 6.25rem;
}

.left {
  margin-top: 4.125rem;
  text-align: center;
}

.face {
  margin-bottom: 2.5rem;
}

.name {
  margin-bottom: 1.25rem;
  font-size: var(--type-scale-desktop-dfs4);
  font-weight: 500;
}

.design {
  font-size: var(--type-scale-desktop-dfs3);
  color: var(--colors-container-5);
}

.right {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: repeat(2, 1fr);
  gap: 3.375rem 7rem;
  margin-top: 1.25rem;
  margin-left: 15.5rem;
  line-height: 1.4375rem;
}

.right-title {
  margin-bottom: 0.625rem;
  font-size: var(--type-scale-desktop-dfs2);
  font-weight: 700;
}

.edu {
  grid-row: 2;
  grid-column: 1;
}

.career {
  grid-row: 3;
  grid-column: 1;
}

.skill {
  grid-row: 2/span 2;
  grid-column: 2;
}

.content {
  display: grid;
  grid-template-rows: auto-fit, repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 1.75rem;
}

.license {
  grid-row: 1;
  grid-column: 2;
}

.week {
  font-weight: 300;
  color: var(--colors-outline);
}